body {
    background-color: #faf8ef;
    display: flex;
    justify-content: center;
    font-family: "Clear Sans", "Helvetica Neue", sans-serif;
}

.container {
    width: 468px;
    margin-top: 30px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 456px;
    height: 456px;
    background-color: #BBADA0;
    border: 7px solid #BBADA0;
    border-radius: 6px;
    margin-top: 20px;
}

.grid div {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    background-color: #EEE4DA;
    color: #776e65;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    line-height: 1.6;
}